/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

// Custom from here

html {
  background-color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#room-name, #nav, #warning {
  background-color: #444444;
  padding: 1em;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #eeeeee;
  font-family: monospace;
  border-radius: 0.5em;
}

#warning {
  left: inherit;
  right: 20px;
  background-color: #666666;
}

#azuremediaplayer {
  width: 100%;
  height: 100%;
  position: absolute;
}

#offline {
  position: absolute;
  top: 80px;
  left: 80px;
  right: 80px;
  text-align: center;
  background-color: #111111;
  border-radius: 1em;
  padding: 40px;
}

#offline p {
  font-size: 2em;
  padding-bottom: 1em;
}

#offline p small {
  font-size: 0.5em;
}

#offline h1 {
  font-size: 10em;
}

#offline p {
  color: #eeeeee;
  font-family: monospace;
}

#nav h1 {
  font-weight: bold;
  font-size: 1.5em;
}

#nav li {
  padding-top: 0.5em;
}

a {
  color: #ffffff;
}